<%= render "shared/header" %>

<div class="contents row">
  <p><%= @nickname %>さんの出品一覧</p>
  <% @products.each do |product| %>
    <li class='list'>
      <%= link_to product_path(product) do %>
        <div class='item-img-content'>
          <%= image_tag product.image, class: "item-img" if product.image.attached? %>
          <% if product.history.present? %>
            <div class='sold-out'>
              <span>Sold Out!!</span>
            </div>
          <% end %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= product.product_name %>
          </h3>
          <div class='item-price'>
            <span><%= product.price %>円<br><%= product.shipping_cost.name %></span>
          </div>
        </div>
      <% end %>
    </li> <!-- 追加 -->
  <% end %>
</div>

<%= render "shared/footer" %>